@font-face {
    font-family: "roboto";
    src: url(../fonts/Roboto-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: "yellowtail";
    src: url(../fonts/Yellowtail-Regular.ttf);
}

@import "tailwindcss";

.container{
    max-width: 1412px;
    padding: 0 16px;
}
